@use "sass:list";

@mixin autofill($actions: ()) {
  &:-webkit-autofill {
    @content;
  }

  &:autofill {
    @content;
  }

  @if (list.index($actions, active)) {
    &:-webkit-autofill:active {
      @content;
    }

    &:autofill:active {
      @content;
    }
  }

  @if (list.index($actions, focus)) {
    &:-webkit-autofill:focus {
      @content;
    }

    &:autofill:focus {
      @content;
    }
  }

  @if (list.index($actions, hover)) {
    &:-webkit-autofill:hover {
      @content;
    }

    &:autofill:hover {
      @content;
    }
  }
}

@mixin autofill-disable($actions: ()) {
  @include autofill($actions) {
    box-shadow: 0 0 0 9999px white inset !important;
    @content;
  }
}

@mixin autofill-background-color($color, $actions: ()) {
  @include autofill($actions) {
    box-shadow: 0 0 0 9999px $color inset;
    @content;
  }
}

@mixin autofill-text-color($color, $actions: ()) {
  @include autofill($actions) {
    -webkit-text-fill-color: $color !important;
    @content;
  }
}
