@use "sass:list";

@mixin autofill($properties: ()) {
  &:-webkit-autofill {
    @content;
  }

  &:autofill {
    @content;
  }

  @if (list.index($properties, active)) {
    &:-webkit-autofill:active {
      @content;
    }

    &:autofill:active {
      @content;
    }
  }

  @if (list.index($properties, focus)) {
    &:-webkit-autofill:focus {
      @content;
    }

    &:autofill:focus {
      @content;
    }
  }

  @if (list.index($properties, hover)) {
    &:-webkit-autofill:hover {
      @content;
    }

    &:autofill:hover {
      @content;
    }
  }
}

@mixin autofillDisable($properties: ()) {
  @include autofill($properties) {
    box-shadow: 0 0 0 9999px white inset !important;
    @content;
  }
}

@mixin autofillBackgroundColor($color, $properties: ()) {
  @include autofill($properties) {
    box-shadow: 0 0 0 9999px $color inset;
    @content;
  }
}

@mixin autofillTextColor($color, $properties: ()) {
  @include autofill($properties) {
    -webkit-text-fill-color: $color !important;
    @content;
  }
}
